body {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f4f4f4;
    padding: 20px;
  }
  
  .output {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    background: #8099c4
  }
  
  .output span {
    font-weight: bold;
    color: #446cb3;
  }
  
  @media (max-width: 768px) {
    h1 {
      font-size: 2em;
    }
  }